# use nosync to speed up things
config_opts['use_nosync'] = True
config_opts['plugin_conf']['nosync_enable'] = True

config_opts['cleanup_on_success'] = False
config_opts['cleanup_on_failure'] = False

# Use less disk: skip documentation
config_opts['macros']['%_install_langs'] = 'en_US'
config_opts['macros']['%_excludedocs'] = '1'

# enable ccache
config_opts['plugin_conf']['ccache_enable'] = True
config_opts['plugin_conf']['ccache_opts']['max_cache_size'] = '8G'
config_opts['plugin_conf']['ccache_opts']['compress'] = True
config_opts['plugin_conf']['ccache_opts']['dir'] = "/build/ccache/"
config_opts['plugin_conf']['ccache_opts']['hashdir'] = True
config_opts['plugin_conf']['ccache_opts']['debug'] = False
# config_opts['plugin_conf']['ccache_opts']['show_stats'] = True

# adjust to available cores x 0.75
config_opts['macros']['%_smp_mflags'] = '-j12'

# tmpfs only
config_opts['plugin_conf']['tmpfs_enable'] = True
config_opts['plugin_conf']['tmpfs_opts'] = {
    'required_ram_mb': 16384,
    'max_fs_size':     '16g',
    'mode':            '0755',
    'keep_mounted':    True,
}

# Ensure the host's ccache directory is visible inside the chroot
config_opts['plugin_conf']['bind_mount_enable'] = True
config_opts['plugin_conf']['bind_mount_opts']['dirs'].append(
    ('/build/ccache/', '/build/ccache/')
)

# Use less disk: skip documentation
config_opts['chroot_setup_cmd'] = 'install @buildsys-build ccache'

# last change
config_opts['environment']['PATH'] = '/usr/lib64/ccache:/usr/bin:/bin:/usr/sbin:/sbin'
config_opts['environment']['CCACHE_DIR'] = '/build/ccache/'


config_opts['plugin_conf']['dnf_cache_enable'] = True
config_opts['plugin_conf']['dnf_cache_opts'] = {
    'cachedir': '/build/dnf_cache/',
}

config_opts['plugin_conf']['package_state_enable'] = False
config_opts['plugin_conf']['yum_cache_enable'] = True

config_opts['plugin_conf']['root_cache_enable'] = False
config_opts['plugin_conf']['root_cache_opts'] = {
    'dir':              '/build/root_cache/%(root)s/',
    'compress_program': 'zstd',
    'extension':        '.zst',
    'age_check':        True,
    'max_age_days':     15,
    'exclude_dirs':     [],   # ← was missing
}

# keep squid for rpms
config_opts['environment']['http_proxy'] = 'http://localhost:3128'
config_opts['environment']['https_proxy'] = 'http://localhost:3128'

