# rosset - 2026-04-21

# use nosync to speed up the things
config_opts['use_nosync'] = True
config_opts['plugin_conf']['nosync_enable'] = True

# in case weird behavior / build failures, change to True
config_opts['cleanup_on_success'] = False
config_opts['cleanup_on_failure'] = False

# Use less disk: skip documentation
config_opts['macros']['%_install_langs'] = 'en_US'
config_opts['macros']['%_excludedocs'] = '1'

# enable ccache
config_opts['plugin_conf']['ccache_enable'] = True
config_opts['plugin_conf']['ccache_opts']['max_cache_size'] = '12G'
config_opts['plugin_conf']['ccache_opts']['compress'] = True
config_opts['plugin_conf']['ccache_opts']['dir'] = "/build/ccache/"
config_opts['plugin_conf']['ccache_opts']['hashdir'] = True
config_opts['plugin_conf']['ccache_opts']['debug'] = False
# config_opts['plugin_conf']['ccache_opts']['show_stats'] = True

# use all 72 CPUs x 2 - tuned to my dual Xeon E5-2696 v3
config_opts['macros']['%_smp_mflags'] = '-j144'

# tmpfs only
config_opts['plugin_conf']['tmpfs_enable'] = True
config_opts['plugin_conf']['tmpfs_opts'] = {
    'required_ram_mb': 16384,
    'max_fs_size':     '16g',
    'mode':            '0755',
    'keep_mounted':    True,
}

# Ensure the host's ccache directory is visible inside the chroot
config_opts['plugin_conf']['bind_mount_enable'] = True
config_opts['plugin_conf']['bind_mount_opts']['dirs'].append(
    ('/build/ccache', '/build/ccache/')
)

# Use less disk: skip documentation
config_opts['chroot_setup_cmd'] = 'install @buildsys-build ccache'

# Point ccache directory to /build/ccache
config_opts['environment']['PATH'] = '/usr/lib64/ccache:/usr/bin:/bin:/usr/sbin:/sbin'
config_opts['environment']['CCACHE_DIR'] = '/build/ccache'

# keep yum and dnf cache configured
config_opts['plugin_conf']['dnf_cache_enable'] = True
config_opts['plugin_conf']['dnf_cache_opts'] = {
    'cachedir': '/var/cache/mock/dnf_cache',
}
config_opts['plugin_conf']['package_state_enable'] = False
config_opts['plugin_conf']['yum_cache_enable'] = True


#config_opts['dnf4_install_cmd'] = 'install python3-dnf python3-dnf-plugins-core'
#config_opts['dnf_install_cmd'] = 'install python3-dnf python3-dnf-plugins-core'
#config_opts['package_manager'] = 'dnf4'
#config_opts['package_manager'] = 'dnf'

# default may already be enabled; check:
config_opts['plugin_conf']['root_cache_enable'] = False
config_opts['plugin_conf']['root_cache_opts'] = {
    'dir':              '/var/cache/mock/root_cache/%(root)s',
    'compress_program': 'zstd',
    'extension':        '.zst',
    'age_check':        True,
    'max_age_days':     15,
    'exclude_dirs':     [],   # ← was missing
}

#config_opts['macros']['%_binary_payload'] = 'w9.gzdio'
#config_opts['macros']['%_source_payload'] = 'w9.gzdio'
# maybe w6T.zstdio

# reuse data as much as we can, squid storing rpms on port 3128
config_opts['environment']['http_proxy'] = 'http://localhost:3128'
config_opts['environment']['https_proxy'] = 'http://localhost:3128'

